.isPlaying {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  border: solid black;
  margin-bottom: 15px;
  background: 
    radial-gradient(circle at 50% 0,
      rgba(255,72,196,.5),
      rgba(255,0,0,0) 70.71%),
    radial-gradient(circle at 6.7% 75%,
      rgba(43,209,252,.5),
      rgba(0,0,255,0) 70.71%),
    radial-gradient(circle at 93.3% 75%,
      rgba(243,234,95,.5),
      rgba(0,255,0,0) 70.71%) beige;
}

.main-switch-frame {
  width: 60%;
  padding: 25px;
  margin: 0 auto;
  position: relative;
  top: 100px;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-flow: row wrap;
}

.switch-container {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: white;
  border: solid black;
  margin-bottom: 15px;
  box-shadow: 5px 5px 8px #ff48c4, 10px 10px 8px #2bd1fc, 15px 15px 8px #f3ea5f, 20px 20px 8px #c04df9;
}

h4 {
  margin: 40px auto;
  color: #ff48c4;
}

body {
  background-color: #f3ea5f;
}

h1 {
  text-align: center;
  width: 100%;
  font-family: 'Candal', sans-serif;
  font-style: italic;
  color: #2bd1fc;
  text-shadow: -5px 10px 0px #ff48c4;
  font-size: 50px;
  margin-bottom: 0;
}

#player-container {
  height: 56px;
  width: 70%;
  margin: 0 auto;
}

#player-controls {
  background-color: #c04df9;
  box-shadow: 5px 5px 8px #ff48c4;
  height: 100%;
}

#player-controls > div {
  height: 100%;
  align-items: center;
}

#player-controls i {
  font-size: 2em;
  padding: 0 10px;
}

#player-controls i:nth-child(2) {
  font-size: 3em;
}

i {
  color: #2bd1fc;
  font-size: 2em;
}

i.fa {
  cursor: pointer;
  font-size: 2em;
  transition: color 0.2s ease;
}

i.fa:hover {
  color: #ff3f3f;
}


.row {
  display: flex;
  flex-direction: row;
}


.center {
  justify-content: center;
}

.rythm-player{
  font-family: 'Mr Dafoe', cursive;
  font-size: 45px;
  margin: 0;
  color: #EB219B;
  -webkit-text-fill-color: rgba(253, 90, 250, 1);
  text-shadow: -2px -2px 0 #FFBAF2;
  -webkit-filter: drop-shadow(3px 3px 1px #441F62);
  -webkit-transform: skew(-5deg,-5deg);
  font-weight: normal;
  z-index: 2;
}

.rythm-maker {
  height: 100px;
  width: 70%;
  margin: 0 auto;
}